/*Paleta: https://coolors.co/f0f0f0-e9e9e9-cfccdb-a495b7*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  background-color: #F0F0F0; }

header {
  height: 0rem;
  width: 100%;
  z-index: 1;
  background-color: transparent; }

footer {
  height: 14rem;
  width: 100%;
  z-index: 1;
  border-top: 1px solid #A495B7;
  padding-top: 4rem; }

h1 {
  font-size: 4.5em;
  text-align: center; }

h3 {
  font-size: 2.4em; }

p {
  margin-bottom: 1rem; }

img {
  max-width: 100%; }

.navbar {
  font-size: 1.625rem;
  color: #000000; }

.nav-link.active {
  color: #F0F0F0 !important;
  /*se agrega important para sobreescribir clase de bootstrap*/
  font-weight: bolder;
  font-size: 2.1125rem; }

.nav-link.disabled {
  color: #CFCCDB; }

.navbar-toggler-icon {
  background-image: none !important;
  background-color: #000000;
  height: 3px;
  width: 30px;
  margin: 10px 0;
  position: relative;
  transform-origin: center; }
  .navbar-toggler-icon::before {
    display: block;
    background-color: #000000;
    height: 3px;
    content: "";
    position: relative;
    top: -9px;
    transform-origin: center; }
  .navbar-toggler-icon::after {
    display: block;
    background-color: #000000;
    height: 3px;
    content: "";
    position: relative;
    top: 6px;
    transform-origin: center; }

.menu {
  background-color: #11111198; }
  .menu li {
    display: inline;
    margin-right: 2.5rem;
    width: 100%; }
    .menu li a {
      padding: 0.5rem;
      text-decoration: none;
      color: #F0F0F0; }
      .menu li a:hover {
        text-decoration: none;
        color: #A495B7;
        transition: all 1s; }

.logo {
  height: 3.5rem;
  margin-top: 1rem;
  margin-left: 2rem; }

.boton, .boton--ir {
  height: 4rem;
  width: 9rem;
  border-radius: 1.6rem; }

.boton--ir {
  border-color: #A495B7;
  background-color: #F0F0F0; }
  .boton--ir:hover {
    border-color: #A495B7;
    background-color: #E9E9E9; }

.secciones {
  height: auto;
  font-style: normal;
  font-weight: 50;
  font-size: 10px;
  text-align: center;
  background-color: #F0F0F0;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media screen and (min-width: 768px) {
    .secciones {
      height: auto; } }

.secciones__inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-style: normal;
  font-weight: 50;
  font-size: 10px;
  text-align: center;
  color: #000000; }

.secciones__inicio--texto {
  font-size: 2.5rem;
  color: #777777; }

.secciones--contenido {
  font-size: 1.375rem;
  color: #000000; }

.secciones--contenido--imagenes {
  display: flex;
  justify-content: center;
  height: 30rem; }
  @media screen and (min-width: 768px) {
    .secciones--contenido--imagenes {
      justify-content: left; } }

.secciones--contenido--imagen {
  height: 30rem; }
  .secciones--contenido--imagen:hover {
    transform: scale(1.03); }

.secciones--contenido--texto {
  height: auto;
  font-style: normal;
  font-weight: 50;
  font-size: 10px;
  text-align: center;
  padding-bottom: 10rem; }

.fuente--grande {
  font-size: 2.5rem; }

.fuente--mediana {
  font-size: 1.625rem; }

.fuente--chica {
  font-size: 1.375rem; }

.fuente--muy-chica {
  font-size: 1rem; }

.animate__animated.animate__fadeIn {
  --animate-duration: 4s; }

.animate__animated.animate__pulse {
  --animate-duration: 3s; }

.principal {
  background-image: url(../assets/img/fondo_movil.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  @media screen and (min-width: 768px) {
    .principal {
      background-image: url(../assets/img/fondo.webp); } }

.principal__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #F0F0F0;
  font-style: normal;
  font-weight: 50;
  font-size: 1.3rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.pie {
  height: auto;
  background-color: #F0F0F0;
  font-size: 2.5rem; }

.pie--elemento {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem; }

.pie--boton {
  height: 4rem;
  width: 30rem;
  color: #F0F0F0;
  background-color: #000000;
  border-color: #000000;
  border-radius: 1.6rem; }
  .pie--boton:hover {
    color: #F0F0F0;
    background-color: #777777;
    border-color: #777777; }

.pie--logo {
  display: flex;
  align-items: center;
  height: 6rem; }

.pie--link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 2rem;
  color: #000000;
  text-decoration: underline; }
  @media screen and (min-width: 768px) {
    .pie--link {
      justify-content: center;
      font-size: 1.2rem;
      color: #777777;
      text-decoration: none; } }

.pie--disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #000000;
  color: #F0F0F0;
  padding: 1rem; }

.pie--disclaimer--texto {
  text-align: center; }
  .pie--disclaimer--texto p {
    margin-bottom: 0; }

.turnos--ayuda {
  font-family: 'Arial', sans-serif;
  background-color: black;
  height: 40rem;
  text-align: left;
  font-weight: 40;
  font-size: 1rem;
  color: #F8E28C;
  overflow-y: scroll; }
  @media screen and (min-width: 768px) {
    .turnos--ayuda {
      height: 35rem; } }
  @media screen and (min-width: 992px) {
    .turnos--ayuda {
      height: 30rem; } }

.turnos--label {
  display: block;
  text-align: left;
  margin-bottom: 5px; }

.turnos--input {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  width: 100%; }
